@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

/* navbar */
.logo {
  top: 0;
  margin-left: 50px;
  margin-right: 50px;
}

header {
  border-bottom: 2px solid rgb(211, 209, 209);
}

header.navbar-container {
  background-color: white;
  opacity: 0.7;
  max-width: 2000px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;

  padding-block: 1rem;
  z-index: 999;
}

header.navbar-container .logo img {
  max-width: 150px;
}

/* Navbar List */

header.navbar-container .nav-list ul {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color:white;
}

.nav-list {
  margin-right: 5%;
}

header .nav-list li {
  list-style-type: none;
}

.nav-text {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  color: black;
  padding: 15px;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
  display: block;
}

.nav-text:hover {
  background-color: rgb(218, 218, 218);
}

/* End Navbar List */

/* main */

/* content */

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}

#content {
  flex: 1;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
  padding: 0 !important;
}

.title {
  padding: 0 20px;
  font-weight: bold;
  margin-right: 0 !important;
}

.hr {
  border-color: #ffffff;
}

.hot-list .list-img {
  display: flex;
  flex: 5;
  align-items: center;
  gap: 2rem;
}

.card {
  width: fit-content;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: 5px 5px 29px #d1d1d1;
}

.list-img {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  align-content: center !important;
  padding: 10px;
  margin-right: 0 !important;
  width: fit-content;
}

.list-img li {
  list-style-type: none;
  text-decoration: none;
}

.list-img img {
  width: 130px;
  height: 160px;
}

.list-img span {
  color: black;
  font-size: 0.8rem;
  margin-top: 5px;
}

.list-img span:hover {
  color: #a9a9a9;
  transition: all 0.3s;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0 !important;
}

.card-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.img-container img:hover {
  filter: brightness(0.6);
  transition: all 0.4s;
}

.title-container {
  display: flex;
  gap: 0 !important;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
}

.btn {
  width: fit-content;
  height: auto;
  background-color: #b3b3b3;
  opacity: 0.7;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: #ffffff;
  font-weight: bold;
}

.img-container2 {
  display: flex;
  max-width: fit-content;
}

.img-container2 img:hover {
  filter: brightness(0.6);
  transition: all 0.4s;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: fit-content;
}

.btn-container a {
  text-decoration: none;
}

.btn-container button {
  background-color: #b3b3b3;
  opacity: 0.7;
  border-radius: 5px;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 3px;
}

.btn-container button:hover {
  background-color: #ffffff;
  font-weight: bold;
}

.btn-container span {
  max-width: 130px;
}

.content2-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.content2 {
  order: 0;
  flex: 3;
  flex-direction: column;
  max-width: 1450px;
  padding-right: 0;
}

.side {
  display: flex;
  flex: 1;
  columns: 5;
  padding: 0 !important;
}

.img-rank-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

.img-ranking {
  width: 100px;
  height: 150px;
  flex-direction: row;
  justify-content: baseline;
}

.card-container-contents {
  columns: 2;
  margin-top: 8px;
  max-width: 25vh;
}

.highlight {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  max-height: 280px;
  max-width: 84vw !important;
  flex-wrap: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.definner-content {
  max-width: 95.7%;
}

.ranker-card {
  width: 100% !important;
}

ol {
  padding: 5px !important;
}

.listed-rank-card {
  display: flex;
  align-content: center;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

article {
  max-width: 85vw !important;
}

section {
  max-width: 85vw !important;
}

.base-story-text {
  display: flex;
  font-weight: 600px;
  width: 150px;
  color: #9b9b9b !important;
}

.rating-story-text {
  color: #000 !important;
  font-weight: 500;
}

.img-ranking:hover {
  filter: brightness(0.6);
  transition: all 0.4s;
}

.container-breaker span:hover {
  color: #a9a9a9;
  transition: all 0.2s;
}

img {
  border-radius: 5px;
}

.img-ranking {
  margin-top: 10px;
}

/* end content */

/* Profile */

.profile {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2%;
}

.card2 {
  max-width: 200vh;
  width: 40vh;
  height: fit-content;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: 5px 5px 29px #d1d1d1;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.text-contain p {
  line-height: 0.5;
}
/* end profile */

/* Footer */

footer {
  color: white;
  text-align: center;
  background-color: rgb(139, 139, 139);
}
/* end footer */

/* media screen */
@media screen and (max-width: 540px) {
  header.navbar-container {
    max-width: none;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
  }

  header.navbar-container .nav-list ul {
    gap: 1rem;
  }

  .logo {
    margin: 0;
  }

  .logo img {
    width: 100px;
  }

  .nav-text {
    font-size: 1rem;
  }

  .highlight {
    max-width: 40vh !important;
  }

  .card-container-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: none;
  }

  .card-container-contents img {
    margin-top: 10px;
  }

  .side {
    display: flex;
    flex: 1;
    padding: 0 !important;
  }

  .content2-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 3vh;
    max-width: 100%;
    padding-right: 0;
  }

  .definner-content {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
  }

  .btn-container span {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

@media screen and (max-width: 360px) {
  .highlight {
    max-width: 38vh !important;
  }

  header.navbar-container .nav-list ul {
    gap: 0.5rem;
  }

  .base-story-text {
    max-width: 120px;
  }

  .text-contain p {
    font-size: 10px;
  }
}

@media screen and (max-width: 412px) {
  .highlight {
    max-width: 39vh !important;
  }
}

@media screen and (max-width: 375px) {
  .highlight {
    max-width: 36vh !important;
  }
}

@media screen and (max-width: 414px) {
  .highlight {
    max-width: 37vh !important;
  }
}

@media screen and (max-width: 393px) {
  .highlight {
    max-width: 39vh !important;
  }
}

@media screen and (min-width: 688px) and (max-height: 1031px) and (min-height: 1031px) and (max-width: 688px) {
  header.navbar-container {
    max-width: none;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
  }

  .card {
    box-shadow: 4px 0 29px #d1d1d1;
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .card-container-contents {
    columns: 1;
  }
}

@media screen and (min-width: 1280px) and (min-height: 950px) and (max-width: 1280px) and (max-height: 950px) {
  .card-container-contents {
    margin-right: 4vh;
    margin-left: 3vh;
  }
}

@media screen and (min-width: 1440px) and (min-height: 900px) and (max-width: 1440px) and (max-height: 900px) {
  .img-container2 img {
    width: 120px;
    height: 160px;
  }
}
/* end css */
